body {
    background-color: #ffffaf;
  }

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1bacbf;
      color:#FFFFFF;
  }
}

<style>
  ul {
    display: flex;
    justify-content: center;
  }

  li {
    list-style: none;
  }

  li:nth-child(2) {
    margin: 0 10px;
  }
</style>

@media screen and (max-width: 768px) {
  /* 768px以下の画面サイズで適用されるスタイル */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* 769px~1024pxの画面サイズで適用されるスタイル */
}

@media screen and (min-width: 1025px) {
  /* 1025px以上の画面サイズで適用されるスタイル */
}

/* パソコンで見た時はclass名pc-onlyだけ表示 */
.pc-only{
  display: block;
}
.sp-only{
  display: none;
}

/* スマホで見た時はclass名sp-onlyだけ表示 */
@media screen and (max-width: 768px){
  .pc-only{
      display: none;
  }
  .sp-only{
      display: block;
  } 
}  