body {
    background-color: #ffffaf;
  }

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1bacbf;
      color:#FFFFFF;
  }
}

<style>
  ul {
    display: flex;
    justify-content: center;
  }

  li {
    list-style: none;
  }

  li:nth-child(2) {
    margin: 0 10px;
  }
</style>

/* PC向けスタイル */
.desktop-content {
  display: block;
}

.mobile-content {
  display: none;
}

/* スマホ向けスタイル */
@media (max-width: 768px) {
  .desktop-content {
      display: none;
  }
  .mobile-content {
      display: block;
  }
}